table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .mycolor {
    color: black;
    font-weight: bold;
    background-color: blue !important;
  }

  .red {
    color: black;
    font-weight: bold;
    background-color: red !important;
  }

  .green {
    color: black;
    font-weight: bold;
    background-color: green !important;
  }
