<table>
  <tr>
    <th>Serial No</th>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of employeeList; let i = index;">
    <td *ngIf="!item.isShow">{{i+1}}</td>
    <td [hidden]="item.isShow">{{item.Id}}</td>
    <td [hidden]="item.isShow">{{item.name }}</td>
    <td *ngIf="!item.isShow">{{item.age }}</td>
    <td><button (click)="visiblity(item)">visible</button></td>
  </tr>
</table><br>

<table>
  <tr>
    <th>Serial No</th>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
<tr *ngFor="let item of employeeList; let i = index;" [ngClass]="{'mycolor':item.isColor}">
    <td>{{i+1}}</td>
    <td>{{item.Id}}</td>
    <td>{{item.name }}</td>
    <td>{{item.age }}</td>
    <td><button (click)="backgroundColor(item)">Color</button></td>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>Serial No</th>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    
  </tr>
  <tr *ngFor="let item of employeeList; let i = index;"
    [ngClass]="{'red':item.isAlternateColor ,'green': !item.isAlternateColor }">
    <td>{{i+1}}</td>
    <td>{{item.Id}}</td>
    <td>{{item.name }}</td>
    <td>{{item.age }}</td>
    
  </tr>
</table>