<p>product-details works!</p>
<table>
    <tr>
        <th>Id</th>
        <th>ProductName</th>
        <th>PartNumber</th>
        <th>ProductLabel</th>
        <th>StartingInventory</th>
        <th>InventoryReceived</th>
        <th>Inventoryshipped</th>
        <th>InventoryOnHand</th>
        <th>MinimumRequired</th>

    </tr>
    <tr>


        <td>{{_productDetail.id}}</td>
        <td>{{_productDetail.productName}}</td>
        <td>{{_productDetail.partNumber}}</td>
        <td>{{_productDetail.productLabel}}</td>
        <td>{{_productDetail.startingInventory}}</td>
        <td>{{_productDetail.inventoryReceived}}</td>
        <td>{{_productDetail.inventoryshipped}}</td>
        <td>{{_productDetail.inventoryOnHand}}</td>
        <td>{{_productDetail.minimumRequired}}</td>
    </tr>
</table>