<!-- <p>orders works!</p>
<table>
    <tr>
        <th>seriesNo</th>
        <th>Id</th>
        <th>Title</th>
        <th>First</th>
        <th>Middle</th>
        <th>Last</th>
        <th>MobileNo</th>
        <th>ProductId</th>
        <th>NumberShipped<th>
        <th>OrderDate</th>
        <th>SuppliersId</th>
        <th>Details</th>
        <th>DElete</th>
        <th>edit<th>
    </tr>
    <tr *ngFor="let item of oderList;let i=index;" >
        <td>{{i+1}}</td>
        <td>{{item.id}}
        <td>{{item.title}}</td>
        <td>{{item.first}}</td>
        <td>{{item.middle}}</td>
        <td>{{item.last}}</td>
        <td>{{item.mobileNo}}</td>
        <td>{{item.productId}}</td>
        <td>{{item.numberShipped}}</td>
        <td>{{item.orderDate}}</td>
        <td>{{item.suppliersId}}</td>
     <td><a routerLink="/detailOrders/{{item.id}}">detail</a></td>
        
        <td><a routerLink="/ordersupdate/{{item.id}}">update</a></td>
        
      
        <td><a href="javascripts:void(0)"(click)="deleteOrders(item.id)">detele</a></td> 
    </tr>
    
    </table>

    -->
    <div class="container">
      <div class="row end-xs mt -1">
        <div class="col-xs-12">
        <input [(ngModel)] ="filterText"
        (keyup)="filterdata()" type="text" class="searchbox" placeholder="searching here"/>
       </div>
      </div>
      <div class="container">
        <div class="mat-elevation-28 "></div>
      </div>
    
    
    <mat-table matSort [dataSource]="oderList">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>
    
      <!-- User name Definition -->
      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef mat-sort-header> customer</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.customer }} </mat-cell>
      </ng-container>
    
      <!-- Age Definition -->
      <ng-container matColumnDef="mobileNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> mobileNo </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.mobileNo}} </mat-cell>
      </ng-container>
    
      <!-- Title Definition -->
      <ng-container matColumnDef="orderDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> orderDate </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.orderDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> productName </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.productName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="supplier_Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> supplier_Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.supplier_Name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>action</mat-header-cell>
        <mat-cell *matCellDef="let row">
           <a routerLink="/detailOrders/{{row.id}}">detail</a> 
           <a routerLink="/ordersupdate/{{row.id}}">update</a> 
        </mat-cell>
      </ng-container>
      //<ng-container matColumnDef="update">
        //<mat-header-cell *matHeaderCellDef mat-sort-header>update</mat-header-cell>
        //<mat-cell *matCellDef="let row">
         //  <a routerLink="/ordersupdate/{{row.id}}">update</a> 
        //</mat-cell>
      //</ng-container>
      
    
      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="['id','customer','mobileNo','orderDate','productName','supplier_Name','price','action']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['id','customer','mobileNo','orderDate','productName','supplier_Name','price','action']"></mat-row>
    </mat-table>
    
    <mat-paginator
      [pageSize]="5"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 25]">
    </mat-paginator>
    </div>
  
    


      
    




