<p>weather works!</p>
<h1>{{weathers?.name}} city weather information</h1>
<div>
    <p>max tempeture:</p>
    <p>{{weathers?.main.temp_max}}</p>
    <p>min tempeture:</p>
    <p>{{weathers?.main.temp_min}}</p>
</div>

<div>
    <p>umidity:</p>
    <p>{{weathers?.main.humidity}}</p>
    <p>Pressure:</p>
    <p>{{weathers?.main.pressure}}</p>
</div>
<div>
    <p>speed of wind:</p>
    <P>{{weathers?.wind.speed}}</P>
    <P>degree of speed:</P>
    <P>{{weathers?.wind.deg}}</P>
    
</div>

<div>
    <p>Lattitude:</p>
    <P>{{weathers?.coord.lat}}</P>
    <P>Longittude:</P>
    <P>{{weathers?.coord.lon}}</P>
    
</div>
