<div class="row end-xs mt -1">
  <div class="col-xs-12">
  <input [(ngModel)] ="searchText"
  type="text" class="searchbox" placeholder="searching here"/>
 </div>
</div >
<div class="container">
  <div class="mat-elevation-28 ">
    <input  type="button" (click)="searchMovise()" value="search your Movise">
  </div>
</div>
<mat-table [dataSource]="moviselist">
    <!-- User name Definition -->
    <ng-container matColumnDef="Poster">
      <mat-header-cell *matHeaderCellDef> Poster </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img [src]="row.Poster" width="50">        
      </mat-cell>
    </ng-container>
  
    <!-- Age Definition -->
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Title}} </mat-cell>
    </ng-container>
  
    <!-- Title Definition -->
    <ng-container matColumnDef="Type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Year">
        <mat-header-cell *matHeaderCellDef>Year </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.Year}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="imdbID">
        <mat-header-cell *matHeaderCellDef> ImdbID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.imdbID}} </mat-cell>
      </ng-container>
  
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['Poster','Title', 'Type','Year','imdbID']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['Poster', 'Title', 'Type','Year','imdbID']"></mat-row>
  </mat-table>

  <mat-paginator [length]="_totalResults" [showFirstLastButtons]="true" [pageSizeOptions]="[10]"
  (page)="onPageChange($event)"></mat-paginator>
              

