<p>detail-orders works!</p>
<table>
    
        <tr>
            <th>seriesNo</th>
            <th>Id</th>
            <th>Title</th>
            <th>First</th>
            <th>Middle</th>
            <th>Last</th>
            <th>MobileNo</th>
            <th>ProductId</th>
            <th>NumberShipped<th>
            <th>OrderDate</th>
            <th>SuppliersId</th>
           
        </tr>
        <tr>
            
            <td>{{ordersList.id}}
            <td>{{ordersList.title}}</td>
            <td>{{ordersList.first}}</td>
            <td>{{ordersList.middle}}</td>
            <td>{{ordersList.last}}</td>
            <td>{{ordersList.mobileNo}}</td>
            <td>{{ordersList.productId}}</td>
            <td>{{ordersList.numberShipped}}</td>
            <td>{{ordersList.orderDate}}</td>
            <td>{{ordersList.suppliersId}}</td>
    </tr>
</table>
