<p>add-product works!</p>

<form [formGroup]="vishnu" (ngSubmit)="Loginuser()">

<input type="text" placeholder="enter Id" formControlName="id">
<br>
<input type="text" placeholder="enter ProductName" formControlName="productName">
<br>
<input type="text" placeholder="enter PartNumber" formControlName="partNumber">
<br>
<input type="text" placeholder="enter ProductLabel" formControlName="productLabel">
<br>
<input type="text" placeholder="enter a StartingInventory" formControlName="startingInventory">
<br>
<input type="text" placeholder="enter a InventoryReceived" formControlName="inventoryReceived">
<br>
<input type="text" placeholder="enter a Inventoryshipped" formControlName="inventoryshipped">
<br>
<input type="text" placeholder="enter a InventoryOnHand" formControlName="inventoryOnHand">
<br>
<input type="text" placeholder="enter a MinimumRequired" formControlName="minimumRequired">
<br>
<br>
<button>submit</button>


</form>
