
<div class="sidebar">
    <a [routerLink]="'/first'">First</a> 
    <a [routerLink]="'/second'">Second</a>
    <a [routerLink]="'/third'">Third</a>
    <a [routerLink]="'/paging'">Paging</a>
    <a [routerLink]="'/event'">Event</a>
    <a [routerLink]="'/ifelse'">ifelse</a>
    <a [routerLink]="'/switch'">switch</a>
    <a [routerLink]="'/loops'">Loops</a>
    <a [routerLink]="'/header'">header</a>
    <a [routerLink]="'/vishnu'">vishnu kant</a>
    <a [routerLink]="'/toogle'">toogle</a>
    <a [routerLink]="'/curdoperaton'">curdoperaton</a>
    <a [routerLink]="'/reCurdoperation'">reCurdoperation</a>
    <a [routerLink]="'/bootstrap'">Bootstrap</a>
    <a [routerLink]="'/pipes'">pipes</a>
    <a [routerLink]="'/BasicForm'">BasicForm</a>
    <a [routerLink]="'/reForm'">reForm</a>
    <a [routerLink]="'/reactiveform'">Reactive Form</a>
    <a [routerLink]="'/reReactiveForm/ '">ReReactiveForm </a>
    <a [routerLink]="'/alternative'">Alternative</a>
    <a [routerLink]="'/suppliers'">Suppliers</a>
    <a [routerLink]="'/product'">Product</a>
    <a [routerLink]="'/addProduct'">addProduct</a>
    <a [routerLink]="'/purchases'">Purchases</a>
    <a [routerLink]="'/addPurchases'">AddPurchase</a>
    <a [routerLink]="'/orders'">orders</a>
    <a [routerLink]="'/addorders'">Addorders</a>
    <a [routerLink]="'/movise'">movise</a>
    <a [routerLink]="'/movisetwo'">movisetwo</a>
    <a [routerLink]="'/weather'">weather</a>
    <a [routerLink]="'/cricket'">cricket</a>
    
  
  
    
</div>

<div class="content">
   <router-outlet></router-outlet>
</div>

